<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
  <test name="login">

    <classes>

      <class name="main.java.testcases.HomepageTest">
        <methods>
          <include name="validateHomePageLoadSuccessfully"/>
        </methods>
      </class>

      <class name="main.java.testcases.RegistrationPageTest">
        <methods>
          <include name="testRegistrationPageLoaded"/>
          <include name="validateRegisterAsEnterPriseFunctionality"/>
          <include name="validateRegisterAsAgencyFunctionality"/>
          <include name="validateUserNotAbleToSubmitAnEmptyForm"/>
          <include name="validateUserNotAbleToSubmitWithoutOrganizationTypeSelected"/>
          <include name="validateUserNotAbleToSubmitFormWithoutFirstName"/>
          <include name="validateUserNotAbleToSubmitFormWithoutLastName"/>
          <include name="validateUserNotAbleToSubmitFormWithoutEmail"/>
          <include name="validateUserNotAbleToSubmitFormWithoutPassword"/>
          <include name="validateUserNotAbleToSubmitFormWithoutConfirmPassword"/>
          <include name="validateUserNotAbleToRegisterWithInvalidEmail"/>
          <include name="validateUserNotAbleToRegisterWithPasswordMismatch"/>
        </methods>
      </class>

      <class name="main.java.testcases.LoginPageTest">
        <methods>
          <include name="testLoginPageLoaded"/>
          <include name="validateUserNotAbleToSubmitAnEmptyLoginForm"/>
          <include name="validateUserNotAbleToLoginWithOutEnteringAnEmail"/>
          <include name="validateUserNotAbleToLoginWithWrongEmail"/>
          <include name="validateLoginFunctionality"/>
        </methods>
      </class>

      <class name="main.java.testcases.DashboardPageTest">
        <methods>
          <include name="validateDashboardPageLoadSuccessfully"/>
          <include name="validateTopCardsOnDashboard"/>
          <include name="checkLanguageSummarySectionFunctionalities"/>
          <include name="validateRecentConsultantsSection"/>
          <include name="validateRecentConsultantsSectionTable"/>
          <include name="validateEditButtonFunctionalityForARow"/>
          <include name="validateRecentWorkLogsTable"/>
          <include name="validateSeeAllButtonFunctionalityOfRecentWorkLogsSection"/>
          <include name="validateRecentConsultantSectionFilterFunctionality"/>
        </methods>
      </class>

      <class name="main.java.testcases.TeamPageTest">

        <methods>
          <include name="validateTeamPageLoadSuccessfully"/>
          <include name="validateInviteTeamButtonFunctionality"/>
          <include name="validateUserCantSubmitEmptyInvitation"/>
          <include name="validateInvitationSendFunctionality"/>

        </methods>
      </class>
      <class name="main.java.testcases.TechnicalTeamPageTest">
        <methods>
          <include name="validateTeamPageLoadSuccessfully"/>
            <include name="validateInviteTeamButtonFunctionality"/>
            <include name="validateUserCantSubmitEmptyInvitation"/>
            <include name="validateInvitationSendFunctionality"/>
        </methods>
      </class>

      <class name="main.java.testcases.ProjectPageTest">
        <methods>
          <include name="validateProjectPageLoadSuccessfully"/>
          <include name="validateTableMessage"/>
          <include name="validateShowTableButtonFunctionality"/>
          <include name="validateShowTableButtonHidesTheTableOnSecondClick"/>
          <include name="validateSearchInputFieldShowingOnShowTableButtonClick"/>
          <include name="validateContextMenuButtonWorkingForTableRows"/>
          <include name="validateAllTableColumnsAreVisible"/>
          <include name="validateAddProjectButtonFunctionality"/>
          <include name="validateCancelButtonFunctionalityOnAddProjectPage"/>
          <include name="validateAddProjectFormGetsFillUpCorrectly"/>

        </methods>
      </class>



      <class name="main.java.testcases.LogoutTest"/>

    </classes>
  </test>
</suite>
