<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
  <test name="login">

    <classes>

      <class name="main.java.testcases.HomepageTest">

        <methods>
          <include name="validateHomePageLoadSuccessfully"/>
        </methods>
      </class>

      <class name="main.java.testcases.RegistrationPageTest">
        <methods>
<!--          <include name="validateRegisterAsEnterPriseFunctionality"/>-->
<!--          <include name="validateRegisterAsAgencyFunctionality"/>-->
          <include name="validateUserNotAbleToSubmitRegistrationFormWithOutOrganizationName"/>
        </methods>
      </class>


    </classes>
  </test>
</suite>
